.header{
    background-color: darksalmon;
    width: 100vw;
    height: 100vh;
}
.box{
    width: 40vw;
    height: 40vh;
    background-color: aquamarine;
    position: relative;
    right: -30%;
    border:3px cornflowerblue solid;
    border-radius: 10px;
}
.button{
    width:100px;
    height: 100px;
    font-size: 50px;
    position: absolute;
    left: 265px;
    top: 100px;
}
.sreach{
    font-size: 50px;
    position: absolute;
    left: 220px;
}